<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Content tagged <b><i>"{{mood}}"</i></b></h1>
    <br>
    {{#each resources}}
      <div class="one-tagged-resource">
        <a href="/entries/{{this._id}}">{{this.resource}}</a>
        <p><b>Link: </b>{{this.link}}</p>
        <p><b>Mood: </b><i>{{this.moods}} </i></p>
      </div>
    {{/each}}
  </div>
</div>

<style>
  .one-tagged-mood {
    border: 2px solid;
    width: auto !important;
    padding: 20px 15px;
    border-radius: 2rem;
    margin-top: 15px;
  }
</style>
