<h1>Liked Content</h1>

<h2>Welcome, {{currentUser.username}}!</h2>

<!-- {{currentUser.likedContent}} -->

<div class="row">
  <!-- <div class="col-sm-6 col-sm-offset-3">
     {{user.username}}
  </div> -->

  {{#each currentUser.likedContent}}
        {{resource.resource}}
        {{resource.link}}
        {{resource.time}}
        {{resource.mood}}
  {{/each}}

</div>
