<div class="row">
  <div id="test" class="col-sm-6 col-sm-offset-3">
    <h1>{{resource.resource}}</h1>
    <h2><b>Link: </b>{{resource.link}}</h2>
    <h3><b>Mood: </b> {{#each resource.moods}}
      <a href="/moods/{{this}}">{{this}}...</h3></a>
    {{/each}}
  </div>
</div>


<div>
     <span style="float:right"><p><a href="/resources/{{resource._id}}/edit">Edit</a></p>
     <p><form method="POST" action="/resources/{{resource._id}}?_method=DELETE">
         <button class="btn btn-primary" type="submit">Delete</button>
     </form></p></span>
   </div>
